/* Resets Chrome Ext's default body margins */
body {
    margin: 0 0;
    padding: 0 0;
}

p {
    margin: 0 0;
}
.text {
    font-size: 8px;
    color: grey;
    text-align: justify;
    margin: 0 0;
}

/* Sets my own body margins */
.wrapper {
    padding: 5px;
    height: 182px;
    width: 140px;
}

/* Section Heading */
.section_header {
    text-align: center;
    margin: 0 0;

}
h1 {
    margin: 0 0;
}

/* Each individual slide represents a menuspace */
.slide {
    /* Dimensions */
    width: 130px;
    height: 100%;

    /* Removes Chrome Ext default styles */
    margin: 0 0;
    padding: 0 0;

    visibility: visible;
}

/* First slide starts off visisble (duh) */
#slide_1 {
    visibility: visible;
}

/* Each label sits on top of a input box */
.label {
    margin: 8px 0 0 0;
    padding: 0 0;
}

/* Custom styling for input boxes */
.inputbox {
    border-radius: 3px;
    border-width: 1px;
}

.inputbox:focus {
    outline:none;
}

/* Submenu link (link to and fro options menu) */
.submenu_link {
    text-align:center;
    color: grey;
    display: inline-block;
}

.forward {
    float: right;
}

.backward {
    float: left;
}

.footer {
}

#heart {
    font-size: 12px;
}

#charm {
    text-align: center;
    text-decoration: none;

}

/* HTML Link Styles */
/* unvisited link */
a:link {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}

/* Removes glow on active links (annoying) */
/* visited link */
a:visited {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}

/* mouse over link */
a:hover {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}

a:active {
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
