/* Resets Chrome Ext's default body margins */
body {
    margin: 0 0;
    padding: 0 0;
}
h1 {
    margin: 0 0;
    padding: 0 0;
}
p {
    margin: 0 0;
    padding: 0 0;
}

/* Explicit sizing requirements for wrapper defined */
.wrapper {
    padding: 5px;
    height: 182px;
    width: 140px;
}

/* Section header stying for all section title headers */
.section_header {
    text-align: center;
}

/* Explicit sizing requirements for slide defined */
.slide {
    width: 130px;
}

/* Defines margin as buffer space for inputbox labels */
.label {
    margin-top: 8px;
    padding: 0 0;
}

/* Custom visual styling for input boxes */
.inputbox {
    border-radius: 3px;
    border-width: 1px;
}
.inputbox:focus {
    /* Removes glow */
    outline:none;
}

/* Hide output hash but allow copying */
#hash_output {
    color: #FCFCFC;
}

/* Display arrangement for navigation links in footer */
.footer_link {
    text-align:center;
    display: inline-block;
}
.forward {
    /* Go forward link */
    float: right;
}
.backward {
    /* Go backward link */
    float: left;
}

/* Styling for option menu checkboxes */
.checkbox {
    margin-top: 8px;
}

/* Makes heart size bigger */
#heart {
    font-size: 12px;
}

/* Custom styling for HTML links (in all states) */
a:link {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
a:visited {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
a:hover {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
a:active {
    color: grey;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
